<h1> <%= @job.title %> </h1> :
 <%= @job.location %> :
 <%= @job.company.name %> :
 <%= @job.category.name %> :
 <%= @job.description %>

<% if @job.featured %>
  <strong>Destaque</strong>
<% end %>



<%= link_to "Voltar",root_path %>
